[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Multi-site support for Gerrit Code Review
[access "refs/*"]
	owner = group GerritForge-multi-site
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-multi-site
	label-Verified = -1..+1 group GerritForge-multi-site
	push = group user/Luca Milanesio (lucamilanesio)
	read = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-multi-site
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
