[gerrit]
    autoReload = true
    replicateOnStartup = false
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 5
    useCGitClient = false
    consumeStreamEvents = false
    eventBrokerTopic = gerrit_stream
    eventBrokerGroupId = pullreplication_$INSTANCE_ID
    syncRefs="ALL REFS ASYNC"
    maxApiPayloadSize=40000
